
/*dashboard*/
#dashboardbody {
background: url("../images/circuit.png");

}

.fixedHeader {
	height: 80px;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: #000;
	position: fixed;
	width: 100%;
	margin: 0 auto;
}

#logo {
	position: absolute;
	left: 5%

}

#welcome {
	position: absolute;
	left: 65%;
	top: 5%;
	font-family: Space Mono;
	color: #e73630;
	font-size: 20px;
	font-weight: normal;
}

#logout {
	position: absolute;
	left: 92%;
	top: 45%;
	margin: 10px;
	font-family: Space Mono;
	text-decoration: none;
	color: #f4472b;
}

#create {
	position: absolute;
	top: 20%;
	left: 20%;
	overflow-y: auto;
	text-align: center;
}

#manage {
	position: absolute;
	top: 20%;
	left: 52%;
	text-align: center;
	overflow: auto;
}

#account {
	position: absolute;
	top: 114%;
	left: 63.5%;
}

#resrc {
	background-color: #eaffd6;
	position: absolute;
	top: 100%;
	left: 20%;
	margin-bottom: 20px;
	overflow: auto;
}

#templates {
	position: absolute;
	top: 63%;
	left: 20%;
	margin-bottom: 20px;
	text-align: center;
	overflow: auto;
}

.dashHeader {
	margin: 0 auto;
	width: 100%;
	background: rgba(255, 49, 30, 0.89);
	font-size: 35px;
	color: #000;
	font-family: Orbitron;
}

#setup {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 230, 0.8);
}

.dashDivs {
	background: #98ff98;
	height: 300px;
	width: 500px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;

}

.dashDivM {
	width: 500px;
	height: 590px;
}

.dashDivhelp {
	position: absolute;
	top: 100%;
	left: 70%;
}

#help {
	background: #eaffd6;
	font-size: 50px;
	color: #f4472b;
	font-family: Orbitron;
	border: solid 3px #f4472b;
	border-radius: 50%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 5px 5px 2px;

}

#help:hover {
	background: rgba(234, 255, 213, 0.9);
	cursor: pointer;
}

.dashDivA {
	width: 300px;
	height: 200px;
	text-align: center;
}

.dashAcctBtn {
	margin: 0 auto;
	width: 100%;
	font-size: 35px;
	color: #eaffd6;
	font-family: Orbitron;
	border: solid 1px #eaffd6;
	background: rgba(248, 70, 43, 1);
	box-shadow: 4px 4px 1px;
}

.dashAcctBtn:hover {
	background: rgba(248, 70, 43, 0.9);
	cursor: pointer;
}

.dashDivT {
	background: #98ff98;
	height: 250px;
	width: 500px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;

}

.dashDivR {
	background: #98ff98;
	height: 200px;
	width: 700px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;
	text-align: center;

}


textarea {
	width: 85%;
	outline: none;
	box-shadow: none;
	overflow: auto;
	resize: none;
	border: none;
	box-shadow: 1px 1px 2px #009933;
	height: 40px;
	font-size: 18px;
	font-family: Space Mono;
}

.message::-webkit-input-placeholder {
	color: #000;
	font-size: 18px;
	font-family: Space Mono;
}

input[type="date"]:before {
	//edit placeholder here..
	// color: gray;
	// content: '' !important;
	// content: attr(placeholder) !important;
}


#remind {
	font-family: Space Mono;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0px;

}

#remind {
  color: #fff;
  border-radius: 2px;
  background: url("../images/clock.svg") no-repeat;
  background-color: rgba(51, 110, 45, 0.9);
  box-shadow: 2px 2px 2px #003333;

}

#remind:hover {
  background: url("../images/clockh.svg") no-repeat;
  background-color:  rgba(51, 110, 45, 0.6);
  cursor: pointer;

}

#remind:focus {
	outline: none;
}


#remind:active {
  color: #d8d7dd;
}

.remLabel {
	font-family: arial;
	font-size: 10px;
	color: #666;
}

.date {
	float: left;
	margin-top: 5px;
	margin-left: 8%;
	// background-color: transparent;
	// border: 2px solid #9b8182

}

input[type=date] {
	border: none;
	outline: none;
	box-shadow: none;
	box-shadow: 1px 1px 2px #009933;
	height: 30px;
	padding: 2px;

}

input[type=time] {
	border: none;
	outline: none;
	box-shadow: none;
	box-shadow: 1px 1px 2px #009933;
	height: 30px;
	padding: 2px;
}

.time {
	float: left;
	margin-top: 5px;
}

.reminder {
	margin-top: 8%;
}

.reminderx {
	background-color: #fff;
	margin: 10px;
	margin-left: 20px;
	border: 1px solid #383838;
	padding: 0px;
	width: 90%;
	font-family: Space Mono;
	height: 65px;
	color: #000;
	text-align: left;

}


p {
	font-size: 18px;
}

#date {
	font-size: 16px;
}

#time {
	font-size: 16px;
}

#freq {
	font-size: 16px;
	font-weight: bold;
}

.reminderInfo {
	float: left;
	margin: 5px;
}

.freq {
	margin-bottom: 0px;
}

.formfield {
	margin-bottom: 0px;
}


.mngBtn {
	position: absolute;
	right: 10px;
	top: 0px;
    background: transparent;
    color: white;
    padding: 6px;
    border: none;
    cursor: pointer;
    border-radius: 45%;
    border: 3px solid #e73630;
    z-index: 1;
}

#mngRect {
	position: absolute;
	width: 10px;
	height: 5px;
	background: #383838;
	right: 0px;
	top: 5px;
}

.dropdown {
    position: relative;
    display: block;
    float: right;

}

.dropdown-content {
    display: none;

}

.dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    right: -10px;
    top: 12px;

}

.dropdown:hover .mngBtn {
    background-color: #fff;
}

#update {
	font-family: Space Mono;
	color: #fff;
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 0px;
	background-color: rgba(51, 110, 45, 0.9);
	height: 100%;
	width: 100%;
}

#update:hover {
  background-color:  rgba(51, 110, 45, 0.6);
}

#remind:focus {
	outline: none;
}


#remind:active {
  color: #d8d7dd;
}

#delete {

	font-family: Space Mono;
	color: #fff;
    border: none;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin-top: 0px;
	background-color: rgba(51, 110, 45, 0.9);
}

#delete:hover {
  background-color:  rgba(231, 54, 48, 0.6);
}

#delete:focus {
	outline: none;
}


#delete:active {
  color: #d8d7dd;
}

li {
	margin-bottom: 10px;
	padding: 0px;
	list-style-type: none;

}

.reminderHead {
	margin-top: 0px;
	margin-bottom: 0px;
}

.reminderContainer {
	padding: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 230, 0.8);
	overflow: auto;
}


.templateHead {
	margin-top: 0px;
	margin-bottom: 0px;
}


.templateContainer {
 background-color: #eaffd6;
}

 ::-webkit-scrollbar {
      width:  5px;
      height: 200px;
  }

  ::-webkit-scrollbar-thumb {
      background: #f4472b;
  }

  ::-webkit-scrollbar-track {
      background: #111;
  }

#tasks {
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.templatex {
	position: absolute;
	left: 7%;
	margin: 10px;
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 1px;
	width: 80%;
	background-color: gray;
	color: #fff;
	font-family: Space Mono;
	font-size: 16px;
	overflow: auto;
	
}

.templatex:hover {
	background-color: #fff;
	color: #000;
	border: 1px solid #383838;
	cursor: pointer;
}

.templateInfo {
	float: left;
	margin: 5px;
}

.resrcContainer {
	width: 100%;
	height: 100%;
	background: #eaffd6;
}

.clearfix:after { 
   content: "";
   display: block; 
   height: 0px; 
   clear: both;
}



