
/*dashboard*/
#dashboardbody {
background: url("../images/circuit.png");

}

.fixedHeader {
	height: 80px;
	top: 0px;
	left: 0px;
	z-index: 1;
	background: #000;
	position: fixed;
	width: 100%;
	margin: 0 auto;
}

#logo {
	position: absolute;
	left: 5%

}

#logout {
	position: absolute;
	left: 92%;
	top: 45%;
	margin: 10px;
	font-family: Space Mono;
	text-decoration: none;
	color: #e73630;
}

#create {
	position: absolute;
	top: 20%;
	left: 15%;
	overflow-y: auto;
	text-align: center;
}

#manage {
	position: absolute;
	top: 20%;
	left: 42%;
}

#resrc {
	position: absolute;
	top: 65%;
	left: 15%;
}

#templates {
	position: absolute;
	top: 20%;
	left: 72%;
	margin-bottom: 20px;
}

.dashHeader {
	margin: 0 auto;
	width: 100%;
	background: rgba(255, 49, 30, 0.89);
	font-size: 35px;
	color: #000;
	font-family: Orbitron;
}

#setup {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: rgba(255, 255, 230, 0.8);
}

.dashDivs {
	background: #98ff98;
	height: 275px;
	width: 300px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;

}

.dashDivT {
	background: #98ff98;
	height: 600px;
	width: 300px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;

}

.dashDivR {
	background: #98ff98;
	height: 275px;
	width: 630px;
	border-radius: 2px;
	box-shadow: 5px 5px 6px #111;

}


textarea {
	width: 85%;
	outline: none;
	box-shadow: none;
	overflow: auto;
	resize: none;
	border: none;
	box-shadow: 1px 1px 2px #009933;
	height: 40px;
}

.message::-webkit-input-placeholder {
	color: #000;
	font-size: 18px;
	font-family: Space Mono;
}

input[type="date"]:before {
	//edit placeholder here..
	// color: gray;
	// content: '' !important;
	// content: attr(placeholder) !important;
}


#remind {
	font-family: Space Mono;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 0px;

}

#remind {
  color: #fff;
  border-radius: 2px;
  background: url("../images/clock.svg") no-repeat;
  background-color: rgba(51, 110, 45, 0.9);
  box-shadow: 2px 2px 2px #003333;

}

#remind:hover {
  background: url("../images/clockh.svg") no-repeat;
  background-color:  rgba(51, 110, 45, 0.6);

}

#remind:focus {
	outline: none;
}


#remind:active {
  color: #d8d7dd;
}

.remLabel {
	font-family: arial;
	font-size: 10px;
	color: #666;
}

.date {
	float: left;
	margin-top: 5px;
	margin-left: 8%;
	// background-color: transparent;
	// border: 2px solid #9b8182

}

input[type=date] {
	border: none;
	outline: none;
	box-shadow: none;
	box-shadow: 1px 1px 2px #009933;
	height: 30px;
	padding: 2px;

}

input[type=time] {
	border: none;
	outline: none;
	box-shadow: none;
	box-shadow: 1px 1px 2px #009933;
	height: 30px;
	padding: 2px;
}

.time {
	float: left;
	margin-top: 5px;
}

.reminder {
	margin-top: 8%;
}

.reminderInfo {
	float: left;
	margin: 5px;
}

.freq {
	margin-bottom: 0px;
}

.formfield {
	margin-bottom: 0px;
}


.mngBtn {
	float:right;
    background-color: #4CAF50;
    color: white;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .mngBtn {
    background-color: #3e8e41;
}

li {
	margin-bottom: 10px;
	margin-top: 0px;
	list-style-type: none;

}

.reminderHead {
	margin-top: 0px;
	margin-bottom: 0px;
}

.reminderContainer {
	padding: 0px;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 230, 0.8);
}


.templateHead {
	margin-top: 0px;
	margin-bottom: 0px;
}

.templateContainer {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 230, 0.8);
}

.templateInfo {
	float: left;
	margin: 5px;
}

.resrcContainer {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 230, 0.8);
}

.clearfix:after { 
   content: "";
   display: block; 
   height: 0px; 
   clear: both;
}



