
/*dashboard*/
#dashboardbody {
background: #fff; /*temp bg*/
}

#create {
	position: fixed;
	top: 80px;
	left: 200px;
	overflow-y: auto;
}

#manage {
	position: fixed;
	top: 80px;
	left: 900px;
}

#resrc {
	position: fixed;
	top: 400px;
	left: 200px;
}

#templates {
	position: fixed;
	top: 400px;
	left: 900px;
}

.dashDivs {
	border: solid black 2px;
	height: 250px;
	width: 450px;

}

.reminderInfo {
	float: left;
	margin: 5px;
}

#mngBtn {
	float: right;
}

li {
	margin-bottom: 10px;
	margin-top: 0px;
	list-style-type: none;

}

.reminderHead {
	margin-top: 0px;
	margin-bottom: 0px;
}

.reminderContainer {
	border: 1px solid black;
	padding: 0px;
}

.templateHead {
	margin-top: 0px;
	margin-bottom: 0px;
}

.templateContainer {
	border: 1px solid black;
	padding: 0px;
}

.templateInfo {
	float: left;
	margin: 5px;
}

.clearfix:after { 
   content: "";
   display: block; 
   height: 0px; 
   clear: both;
}



