#indexbody {
  // background: linear-gradient(rgba(60, 60, 60, 0.80), rgba(60, 60, 60, 0.80)), rgba(0,0,0,0.4) url("../images/mom.jpg") center fixed;
  background-image: url('../images/mom.jpg');
  background-color: #f4472b;
  background-blend-mode: darken;
 background-position: center;
 // background-size: 1100px; //research getting this the right size w/o cutting off stuff
 background-size: cover;
 background-repeat: no-repeat;
  width: 1024px;
}

h1 {
	color: #fff;
	font-family: Space Mono;
	margin: 0 auto;
}

.greet {
	width: 300px;
	display: inline-block;
	margin-left: 68%;
	margin-top: 33%;
	clear: both;
	text-align: center;

}

.login::-webkit-input-placeholder {
	color: #fff;
	font-size: 18px;
	font-family: Space Mono;
}

.login {
	width: 100%;
	clear: both;
	padding: 10px;
	background-color: transparent;
	color: #fff;
	font-family: Space Mono;
	font-size: 18px;

}

#name-input {
	outline: none;
	border: 1px solid #fff;
	margin-bottom: 10px;

}

#password-input {
	outline: none;
	border: 1px solid #fff;
	margin-bottom: 10px;

}


.btn {
	background-color: #2c2a2b; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 2px;
}

.btn-login {
	font-family: Space Mono;
	border: 1px solid #fff;
	box-shadow: 2px 2px 1px #fff;
}

.btn-login:hover {
	background-color: #fff;
	border: #282828 1px solid;
	box-shadow: 2px 2px 1px #282828;
	color: #282828;
	cursor: pointer;
}

#altSignUpBtn {
	background-color: #fff;
	border: #282828 1px solid;
	box-shadow: 2px 2px 1px #282828;
	padding: 5px 5px;
	font-size: 14px;
	margin-top: 0px;
	color: #282828;
	font-family: Space Mono;
	font-weight: bold;
}
#altSignUpBtn:hover {
	background-color: #2c2a2b;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}

p {
	font-size: 16px;
	margin-right: 4px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #282828;
    margin: auto;
    padding: 20px;
    padding-left: 35px;
    width: 30%;
    height: 400px;
    text-align: center;
    font-family: Space Mono;
    border: 2px solid #eaffd6;
    box-shadow: 2px 2px 1px #282828;
    color: #fff;
}

.signup {
	padding: 20px;
	height: 250px;
	align-content: center;
	padding-top: 20%;
	font-family: Space Mono;
	margin-right: 10px;
}

.signup input {
	color: #fff;
	font-family: Space Mono;
	font-size: 18px;
	background: #282828;
	outline: none;
	border: 1px solid #fff;
	box-shadow: 2px 2px 1px;
	margin: 5px;
	padding: 5px;
}

.signupInput::-webkit-input-placeholder {
	color: #fff;
	font-size: 18px;
	font-family: Space Mono;
}

#signUpBtn {
	background-color: #fff;
	border: #f4472b 1px solid;
	box-shadow: 2px 2px 1px #f4472b;
	padding: 5px 5px;
	font-size: 18px;
	margin-top: 0px;
	color: #282828;
	font-family: Space Mono;
	font-weight: bold;
}

#signUpBtn:hover {
	background-color: #eaffd6;
	color: #f4472b;
	cursor: pointer;
}

/* The Close Button */
.close {
    color: #f4472b;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #eaffd6;
    text-decoration: none;
    cursor: pointer;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #282828 inset;
   -webkit-text-fill-color: white !important;
}