@media screen and (max-width: 1280px) {

	.user-name {
	position: absolute;
	top: 10%;
	left: 38%;
	font-family: Orbitron;
	padding: 5px;
	font-size: 40px;
	color: #f4472b;
	background: #282828;
}

#password-inputUM {
	position: absolute;
	top: 25%;
	left: 29%;
}

#phone-input {
	position: absolute;
	top: 35%;
	left: 29%;

}

.buttonUMContainer {
	position: absolute;
	top: 50%;
	left: 31%;
	text-align: center;
}

.btn-um {
	font-family: Space Mono;
	background: #8b8b8b;
	padding: 5px;
	color: #282828;
	border: 1px solid #282828;
}

.btn-um:hover {
	cursor: pointer;
}

#change-password:hover {
	background: #eaffd6;
	color: #f4472b;
	border: 1px solid #f4472b;
}

#change-phone:hover {

	background: #eaffd6;
	color: #f4472b;
	border: 1px solid #f4472b;

}

#cancel {

	margin-top: 30px;
	border: 1px solid #282828;

}

#deleteact {

	margin-top: 30px;
	font-size: 14px;
	border: 1px solid #282828;

}

#deleteact:hover {

	background: #f4472b;
	border: 1px solid #eaffd6;
	color: #eaffd6;
}

#cancel:hover {
	background: #eaffd6;
	color: #f4472b;
	border: 1px solid #f4472b;
}

#message {
	position: absolute;
	top: 92%;
	left: 20%;
	color: #eaffd6;
}
}